@import "variables.scss";
@import url("https://fonts.googleapis.com/css?family=Cutive+Mono|Mansalva|Fredericka+the+Great|Knewave|Press+Start+2P&display=swap");
html {
  scroll-behavior: smooth;
}
body {
  background-color: $bg-color;
  font-family: "Cutive Mono", monospace;
  color: $green;
  font-size: 18px;
  margin: 0;
}
section {
  margin: 4rem 0;
}

h1,
h2,
h3,
h4 {
  font-family: "Press Start 2P", cursive;
  color: $orange;
}

a {
  color: $blue;
  &:hover {
    color: $purple;
  }
}
.web {
  // font-family: "Knewave", cursive;
  //   font-family: "Fredericka the Great", cursive;
  font-family: "Mansalva", cursive;

  font-size: 3rem;
}
.grid-container {
  max-width: 960px;
  margin: 0 auto;
}
.home-header {
  display: flex;
  flex-direction: row;
  height: 100vh;
  &__container {
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    & > div {
      flex: 1 calc(50% - 15px);
      padding: 15px;
    }
    img {
      max-width: 100%;
      border-radius: 50%;
      max-height: 100%;
      border: 2px solid $green;
    }
  }
}
.navigator {
  background-color: $blue;
  color: $bg-color;
  position: fixed;
  bottom: 0;
  width: 100vw;
  &__container {
    max-width: 960px;
    margin: 0 auto;
  }
  &__links {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
    li {
      padding: 0 0.5rem;
    }
    li a {
      color: $bg-color;
      font-family: "Press Start 2P", cursive;
      text-decoration: none;
      transition: 0.03s all ease;
      padding: 3px;
      &:hover {
        background-color: $bg-color;
        color: $blue;
      }
    }
  }
}
.projects {
  h3{
    text-align: center;
    margin: 1.5rem 0;
  }
  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    li {
      background-color: #3d4d67;
      padding: 1rem 2rem;
      margin-bottom: 1rem;
      box-shadow: 10px 16px 18px -5px rgba(0,0,0,0.75);
      position: relative;
      transition: .3s ease all;
      &::before{
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        right: 0;
        height: 2px;
        // width: 1;
        overflow: hidden;
        background: $orange;
        opacity: 0;
      }
      &:hover::before{
        opacity: 1;
      }
    }
  }
}
