@import "variables.scss";
@import url("https://fonts.googleapis.com/css?family=Cutive+Mono|Mansalva|Fredericka+the+Great|Knewave|Press+Start+2P&display=swap");

body {
  background-color: $bg-color;
  font-family: "Cutive Mono", monospace;
  color: $green;
  font-size: 18px;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: "Press Start 2P", cursive;
  color: $orange;
}
.web {
    // font-family: "Knewave", cursive;
    //   font-family: "Fredericka the Great", cursive;
    font-family: 'Mansalva', cursive;

      font-size: 3rem;
}
.grid-container {
  max-width: 960px;
  margin: 0 auto;
}
.home-header {
  display: flex;
  flex-direction: row;
  height: 100vh;
  &__container {
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    & > div {
      flex: 1 calc(50% - 15px);
      padding: 15px;
    }
    img {
      max-width: 100%;
      border-radius: 50%;
      max-height: 100%;
      border: 2px solid $green;
    }
  }
}
.navigator{
    background-color: $blue;
    color: $bg-color;
    position: fixed;
    bottom: 0;
    width: 100vw;
    &__container{
        max-width: 960px;
        margin: 0 auto;
    }
}
